.libs
.deps
*.o
*.lo
*.a
*.la
*.exe
*.lib
*.dll
*.pc
*-stamp
*.3
*.5
Makefile.in
Makefile
/configure
/libtool
/ltmain.sh
/install-sh
/config.sub
/config.guess
/config.log
/config.status
/stamp-h*
/config.h.in
/config.h
/aclocal.m4
/depcomp
/missing
/autom4te.cache
/compile
